<app-mainview> </app-mainview>
<div class="bg">
    <div class="container custom-container-2">
        <h1 class="h1">Job Applications</h1>
        <form class="col-md-12 padding-bottom"><br>

            <br>

            <input type="text" name="Search_bar" placeholder="Name,Email" [(ngModel)]="search_name">



            <label class="formData">Rating:</label>
            <select name="Rating" [(ngModel)]="search_rate">
                <option *ngFor="let ra of rate" [value]="ra">{{ra}}</option>
            </select>
            <label class="formData"> Status:</label>
            <select name="Status" [(ngModel)]="search_status">
                <option *ngFor="let st of stat" [value]="st">{{st}}</option>
            </select>
            <br>
            <br>
            <br>

            <button type="button" class="btn btn-primary btn-info btn-block">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
            <br>

        </form>

        <div class="col-md-12">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Display Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <ng-container
                            *ngIf="(employee.firstname==search_name || employee.lastname==search_name || search_name===''|| employee.email==search_name) && (employee.rate==search_rate || search_rate=='Any') && (employee.status==search_status || search_status=='Any')">
                            <!-- <ng-container> -->
                            <td><a>{{employee.firstname  }} {{  employee.lastname}}</a></td>
                            <td><a class="text-underline">{{employee.email}}</a></td>
                            <td>{{employee.rate}}</td>
                            <!-- / -->
                            <div *ngIf="employee.rate >= 3">
                                Interview Schedule

                            </div>
                            <div *ngIf="employee.rate < 3">
                                Rejected
                            </div>
                            <!-- <td>{{employee.action}}</td> -->
                            <td>
                                <div class="flex-container">
                                    <div *ngIf="employee.rate >= 3">
                                        <button type="button" class="btn btn-primary w-100"
                                            (click)="sendEmail(employee)">Email Send</button>
                                    </div>
                                    <div *ngIf="employee.rate < 3">
                                        <button type="button" class="btn btn-primary w-100"
                                            (click)="sendEmail(employee)" disabled>Email Send</button>
                                    </div>
                                    <button type="button" class="btn btn-danger w-100"
                                        (click)="deleteEmployee(employee._id)">
                                        <span class="glyphicon glyphicon-trash"></span> </button>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="formData">
            Showing applications from last
            <select name="Showing applications from last  ">
                <option value="any" selected>1 day</option>
                <option value="saab">2 days</option>
                <option value="st">3 days</option>
                <option value="int1">4 days</option>
                <option value="ints">6 days</option>
                <option value="ints">7 days</option>
                <option value="ints">8 days</option>
                <option value="ints">9 days</option>
                <option value="ints">10 days</option>
                <option value="ints">11 days</option>
                <option value="ints">12 days</option>
                <option value="ints">13 days</option>
                <option value="ints">14 days</option>
                <option value="ints">15 days</option>
                <option value="ints">16 days</option>
                <option value="ints">17 days</option>
                <option value="ints">18 days</option>
                <option value="ints">19 days</option>
                <option value="ints">20 days</option>
                <option value="ints">21 days</option>
                <option value="ints">22 days</option>
                <option value="ints">23 days</option>
                <option value="ints">24 days</option>
                <option value="ints">25 days</option>
                <option value="ints">26 days</option>
                <option value="ints">27 days</option>
                <option value="ints">28 days</option>
                <option value="ints">29 days</option>
                <option value="ints">31 days</option>

            </select>

        </div>
    </div>
</div>