.flex-container {
    display: flex;
}

.bg {
    /* background-image: url("../assets/itworld2.jpg"); */
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 18%;
}

.h1 {
    text-align: center;
    text-transform: uppercase;
    color: yellowgreen;
}

td,
th {
    border: 1px black;
    text-align: left;
    padding: 8px;
    width: 1000px;
}

tr {
    background-color: whitesmoke;
    width: 500px;
}

.lw {
    text-align: left, bottom;
    color: yellow;
    font-size: 20px;
    color: black;
}

.formData {
    color: greenyellow;
    margin-left: 15px;
}

select {
    margin-left: 5px;
}